.banner {
  max-width: 100%;
  margin-bottom: 5rem;
}

.postContainer {
  padding-bottom: 4rem;
}

.post {
  padding-bottom: 3rem;

  h1 {
    margin-bottom: 1.75rem;
  }

  .updatedAt {
    display: block;
    font-size: .875rem;
    color: var(--info);
    margin-top: 1rem;
  }

  .content {
    margin-top: 4rem;

    h2 {
      margin-bottom: 2rem;
      color: var(--heading);
    }

    p, li {
      color: var(--body);
    }

    p + p {
      margin-bottom: 1rem;
    }

    a {
      color: var(--highlight);
    }
  }
}

.postsNav {
  display: grid;
  grid-template-areas:
    'prev next';

  max-width: calc(700px - 4rem);
  padding: 3rem 0;
  border-top: 1px solid #D7D7D710;

  .prevPost {
    grid-area: prev;
  }

  .nextPost {
    grid-area: next;
    justify-self: end;

    a {
      align-items: flex-end;
      text-align: end;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    max-width: 300px;

    p {
      font-size: 1.125rem;
      color: var(--heading);
      margin-bottom: .5rem;
    }

    span {
      font-weight: bold;
      color: var(--highlight);
    }
  }
}
